linkedin-daily-content-creator.json
{
  "name": "LinkedIn Daily Content Creator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "type": "hours",
              "value": 24
            }
          ]
        },
        "timezone": "UTC",
        "triggerAtStartup": false
      },
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 100]
    },
    {
      "parameters": {
        "url": "https://api.twitter.com/v2/tweets/search/recent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth2Api",
        "options": {
          "headers": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer {{ $env.TWITTER_BEARER_TOKEN }}"
              }
            ]
          }
        },
        "qs": {
          "query": "(AI OR automation OR \"machine learning\") lang:en -is:retweet",
          "max_results": "100",
          "tweet.fields": "created_at,public_metrics,author_id",
          "sort_order": "recency"
        },
        "sendQuery": true
      },
      "id": "2",
      "name": "Get Twitter Trends",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [100, 200]
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything",
        "qs": {
          "q": "AI AND (automation OR agent OR \"machine learning\")",
          "sortBy": "publishedAt",
          "language": "en",
          "pageSize": "20",
          "apiKey": "={{ $env.NEWSAPI_KEY }}"
        },
        "sendQuery": true
      },
      "id": "3",
      "name": "Get News Articles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [100, 300]
    },
    {
      "parameters": {
        "mode": "combine"
      },
      "id": "4",
      "name": "Merge Data Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [250, 250]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst scored = allItems.map(item => {\n  let score = 0;\n  const sourceScore = { 'news': 4, 'twitter': 3, 'reddit': 2 };\n  score += (sourceScore[item.source] || 2);\n  score += (item.engagement || item.score || 0) / 100;\n  if (item.title?.includes('AI')) score += 2;\n  return { ...item, score };\n});\nreturn scored.sort((a,b) => b.score - a.score).slice(0, 3);"
      },
      "id": "5",
      "name": "Rank Topics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 200]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/embedding-001:embedContent",
        "method": "POST",
        "bodyType": "json",
        "body": "{\n  \"model\": \"models/embedding-001\",\n  \"content\": {\n    \"parts\": [{\n      \"text\": \"{{ $node['Rank Topics'].json[0].title }} {{ $node['Rank Topics'].json[0].description }}\"\n    }]\n  }\n}",
        "options": {
          "headers": {
            "parameters": [
              {
                "name": "X-Goog-Api-Key",
                "value": "={{ $env.GEMINI_API_KEY }}"
              }
            ]
          }
        }
      },
      "id": "6",
      "name": "Generate Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [550, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.PINECONE_HOST }}/query",
        "method": "POST",
        "bodyType": "json",
        "body": "{\n  \"vector\": {{ $node['Generate Embedding'].json.embedding.values }},\n  \"topK\": 5,\n  \"includeMetadata\": true,\n  \"namespace\": \"content\"\n}",
        "options": {
          "headers": {
            "parameters": [
              {
                "name": "Api-Key",
                "value": "={{ $env.PINECONE_API_KEY }}"
              }
            ]
          }
        }
      },
      "id": "7",
      "name": "Query Pinecone RAG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [700, 200]
    },
    {
      "parameters": {
        "jsCode": "const topic = $node['Rank Topics'].json[0];\nconst ragMatches = $node['Query Pinecone RAG'].json.matches || [];\nconst expertise = ragMatches\n  .map((m, i) => `${i+1}. \"${m.metadata.title}\"\\n${m.metadata.content.substring(0, 300)}...`)\n  .join('\\n\\n');\nreturn {\n  topic: topic,\n  expertise: expertise,\n  ragRelevance: ragMatches[0]?.score || 0\n};"
      },
      "id": "8",
      "name": "Prepare RAG Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent",
        "method": "POST",
        "bodyType": "json",
        "body": "{\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"You are a LinkedIn content expert specializing in AI and automation. Create a compelling LinkedIn post (280-400 chars) based on:\\n\\nTOPIC: {{ $node['Prepare RAG Context'].json.topic.title }}\\n\\nEXPERTISE:\\n{{ $node['Prepare RAG Context'].json.expertise }}\\n\\nInclude hook, insight, 2-3 takeaways, CTA, and 3-4 hashtags. Keep under 3000 characters.\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.7,\n    \"maxOutputTokens\": 500\n  }\n}",
        "options": {
          "headers": {
            "parameters": [
              {
                "name": "X-Goog-Api-Key",
                "value": "={{ $env.GEMINI_API_KEY }}"
              }
            ]
          }
        }
      },
      "id": "9",
      "name": "Generate LinkedIn Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [400, 400]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst postText = response.candidates[0].content.parts[0].text;\nreturn {\n  postContent: postText,\n  length: postText.length,\n  generatedAt: new Date().toISOString()\n};"
      },
      "id": "10",
      "name": "Parse Generated Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [550, 400]
    },
    {
      "parameters": {
        "jsCode": "const post = $input.first().json.postContent;\nconst validation = {\n  hasContent: post && post.length > 50,\n  withinLimit: post.length <= 3000,\n  hasHashtags: post.includes('#'),\n  hasEngagement: post.match(/\\?|\\.\\.\\./) !== null,\n  minLength: post.length >= 100\n};\nif (!Object.values(validation).every(v => v)) {\n  throw new Error(`Validation failed: ${JSON.stringify(validation)}`);\n}\nreturn { validated: true, content: post.trim() };"
      },
      "id": "11",
      "name": "Validate Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 400]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst postTime = new Date();\nconst optimalHours = [8, 13, 17];\nconst nextHour = optimalHours.find(h => {\n  const test = new Date();\n  test.setUTCHours(h, 0, 0, 0);\n  return test > now;\n});\nif (nextHour) {\n  postTime.setUTCHours(nextHour, 0, 0, 0);\n} else {\n  postTime.setUTCHours(8, 0, 0, 0);\n  postTime.setUTCDate(postTime.getUTCDate() + 1);\n}\nreturn {\n  scheduledTime: postTime.toISOString(),\n  content: $input.first().json.content\n};"
      },
      "id": "12",
      "name": "Schedule Posting Time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "nodeCredentialType": "supabaseApi",
        "mode": "insert",
        "table": "content_posts",
        "columns": "topic,content,posted_at,post_length,rag_relevance,status",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "topic",
              "fieldValue": "={{ $node['Prepare RAG Context'].json.topic.title }}"
            },
            {
              "fieldName": "content",
              "fieldValue": "={{ $node['Validate Content'].json.content }}"
            },
            {
              "fieldName": "posted_at",
              "fieldValue": "={{ $node['Schedule Posting Time'].json.scheduledTime }}"
            },
            {
              "fieldName": "post_length",
              "fieldValue": "={{ $node['Validate Content'].json.content.length }}"
            },
            {
              "fieldName": "rag_relevance",
              "fieldValue": "={{ $node['Prepare RAG Context'].json.ragRelevance }}"
            },
            {
              "fieldName": "status",
              "fieldValue": "posted"
            }
          ]
        }
      },
      "id": "13",
      "name": "Store in Database",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [400, 550]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "nodeCredentialType": "gmail",
        "to": "your-email@gmail.com",
        "subject": "✅ LinkedIn Post Published - {{ $node['Prepare RAG Context'].json.topic.title }}",
        "bodyType": "html",
        "bodyHtml": "<h2>LinkedIn Post Published Successfully!</h2><p><strong>📌 Topic:</strong> {{ $node['Prepare RAG Context'].json.topic.title }}</p><p><strong>📝 Post Length:</strong> {{ $node['Validate Content'].json.content.length }} characters</p><p><strong>🔗 Knowledge Base Relevance Score:</strong> {{ $node['Prepare RAG Context'].json.ragRelevance }}</p><p><strong>Post Content:</strong></p><blockquote>{{ $node['Validate Content'].json.content }}</blockquote><p>✅ Your post is now live on LinkedIn!</p>"
      },
      "id": "14",
      "name": "Gmail Notification",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [550, 550]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Get Twitter Trends", "type": "main", "index": 0 }, { "node": "Get News Articles", "type": "main", "index": 0 }]]
    },
    "Get Twitter Trends": {
      "main": [[{ "node": "Merge Data Sources", "type": "main", "index": 0 }]]
    },
    "Get News Articles": {
      "main": [[{ "node": "Merge Data Sources", "type": "main", "index": 1 }]]
    },
    "Merge Data Sources": {
      "main": [[{ "node": "Rank Topics", "type": "main", "index": 0 }]]
    },
    "Rank Topics": {
      "main": [[{ "node": "Generate Embedding", "type": "main", "index": 0 }]]
    },
    "Generate Embedding": {
      "main": [[{ "node": "Query Pinecone RAG", "type": "main", "index": 0 }]]
    },
    "Query Pinecone RAG": {
      "main": [[{ "node": "Prepare RAG Context", "type": "main", "index": 0 }]]
    },
    "Prepare RAG Context": {
      "main": [[{ "node": "Generate LinkedIn Post", "type": "main", "index": 0 }]]
    },
    "Generate LinkedIn Post": {
      "main": [[{ "node": "Parse Generated Content", "type": "main", "index": 0 }]]
    },
    "Parse Generated Content": {
      "main": [[{ "node": "Validate Content", "type": "main", "index": 0 }]]
    },
    "Validate Content": {
      "main": [[{ "node": "Schedule Posting Time", "type": "main", "index": 0 }]]
    },
    "Schedule Posting Time": {
      "main": [[{ "node": "Store in Database", "type": "main", "index": 0 }, { "node": "Slack Notification", "type": "main", "index": 0 }]]
    }
  }
}
